<!doctype html>
<html>
<head>
  <title>Play Game</title>
</head>
<body>
<form action="/madlib">
    <p><label>Person:</label>
        <input type="text" name="person"></p>
    <p><label>Noun:</label>
        <input type="text" name="noun"></p>
    <p><label>Adjective:</label>
            <input type="text" name="adjective"></p>
    <p><label>Colour:</label>
            <select name="color">
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="purple">Purple</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
                <option value="black">Black</option>
                <option value="pink">Pink</option>
            </select>
    <p><input type="submit"></p>
</form>
</body>
</html>